%h1 Available Commands

%h1 Get all Customers
%h2 GET /customer
%p Display all the available customers

%h1 Get All UUIDs for a Given Customer
%h2 GET /customer/:customer
%p Show all the available uuids for the given :customer

%h1 View File Data
%h2 GET /view/:customer/:uuid
%p View the process information for :customer file identified by the :uuid.


