/Include Webix and Private Scripts
%link{ rel: "stylesheet",  href: "/pivot/codebase/webix/webix.css", type: "text/css"}
%script{ src: "/pivot/codebase//webix/webix.js", type: "text/javascript" }
%link{ rel: "stylesheet",  href: "/pivot/codebase/pivot.css", type: "text/css"}
%script{ src: "/pivot/codebase/pivot.js", type: "text/javascript" }

.app

#app

%script{ src: "/javascripts/nmon_commands.js", type: "text/javascript" }
