/ files = NmonCommands.get_file_list( customer, uuid, start_ts: nil, end_ts: nil )

/ Include Webix and Private Scripts
%link{ rel: "stylesheet",  href: "http://cdn.webix.com/edge/webix.css", type: "text/css"}
%script{ src: "http://cdn.webix.com/edge/webix.js", type: "text/javascript" }

%h1 View File Data

#app

%script{ src: "/javascripts/test.js", type: "text/javascript" }

